body {
  overflow-x: hidden;
}
.container {
  overflow: hidden;
}
.card {
  margin: 15px;
}

.layui-nav a {
  font-size: 13px !important;
}

.layui-nav-img {
  width: 30px;
  height: 30px;
}

.layui-footer {
  font-size: 12px;
  text-align: center;
}

.layui-logo {
  background-color: #23262e !important;
}

.iconfont,
.layui-icon {
  margin-right: 6px;
}

.layui-icon {
  margin-left: 15px;
}

.user-info-box {
  line-height: 70px;
  width: 200px;
  text-align: center;
  user-select: none;
}

.welcome {
  font-size: 12px;
}

.text-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #009688;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

#container,
iframe {
  width: 100%;
  height: 100%;
}

iframe {
  background-color: #f2f2f2;
}

.user-info-box {
  border-bottom: 1px solid #23262e;
}

.layui-form {
  width: 500px;
}
  /* 设置按钮行的样式 */
  .row2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  /* 设置裁剪区域的样式 */
  .cropper-box {
    width: 350px;
    height: 350px;
    background-color: cyan;
    overflow: hidden;
  }

  /* 设置第一个预览区域的样式 */
  .w100 {
    width: 100px;
    height: 100px;
    background-color: gray;
  }

  /* 设置第二个预览区域的样式 */
  .w50 {
    width: 50px;
    height: 50px;
    background-color: gray;
    margin-top: 50px;
  }

  /* 设置预览区域下方文本的样式 */
  .size {
    font-size: 12px;
    color: gray;
    text-align: center;
  }

  /* 设置图片行的样式 */
  .row1 {
    display: flex;
  }

  /* 设置 preview-box 区域的的样式 */
  .preview-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }

  /* 设置 img-preview 区域的样式 */
  .img-preview {
    overflow: hidden;
    border-radius: 50%;
  }
  .preview {
    overflow: hidden;
    border-radius: 50%;
  }
