body img {
  display: block;
}
body .layui-layout {
  width: 100%;
  height: 100%;
  background-image: url(../img/login_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
body .layui-layout .header {
  padding-top: 20px;
}
body .layui-layout .loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .layui-layout .loginAndRegBox .header-box {
  height: 60px;
  background: url(../img/login-title.png) no-repeat center;
}
body .layui-layout .loginAndRegBox .reg-box {
  display: none;
}
